*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.navPopUp{
    position: fixed;
    top: 0px;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 5em;
    background-color:white ;
    border-bottom: 2px solid rgb(219, 219, 219);
    box-shadow: 0px 0px 10px 10px rgb(221, 221, 221);
}
.nav div{
    padding: 25px 25px;
}
.divP{
    font-size: 1.7em;
   
}
.searchAndFilter{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 3em;
    
}
.formSearch{
    height: 2.9em;
    border: black thin solid;
    border-radius: 5px;

}
.formLupa{
background-color: white;
border-radius: 5px;
width: 25em;
}
.formLupa i {
    margin-left: 5px;
}
.formSearch input{
    height: 3.3em;
    width: 23em;
    margin-left: 5px;
    padding: 0px;
    border: none;
    outline: none;

    
}

.filter select{
    border: black thin solid;
    background-color: white;
    padding: 1em 1.5em;
    outline: none;
}


.divDark button{
    display: flex;
    justify-content: space-between;
    width: 8.5em;
    padding: 0.6em;
    background-color: inherit;
    border: solid rgb(255, 255, 255);
    border-radius: 5px;

}
.divDark button img {
    width: 1.1em;
}
.countryGridTotal{
    display: grid;
    grid-gap: 5em;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
padding: 0px 3em;
margin-top: 1em;
}
.Countrys * {
    pointer-events: none
}
ul{
    list-style: none;
}
.Countrys{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 5px 0.5px rgba(64, 64, 64, 0.308);
    border-radius: 5px;
    width: 19em;
 
}

.Countrys:hover{
    cursor: pointer;
  animation: animacionCountrys 1s linear forwards;
}

@keyframes animacionCountrys{
    100%{
    
       }
}
.imgContainer img{
    border-radius:5px 5px 0px 0px;
    width: 100%;
    max-height: 13em;
    object-fit: contain;
    overflow: hidden;
}
.textStuff{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10em;
    padding: 1em 2em;
    border-radius: 5px;
}

.name{
    font-size: x-large;
    font-weight: bolder;
}
.listDetail ul li{
margin-top: 5px;
display: flex;

}
.listDetail span{
    font-weight: bolder;
}
.darkmode{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    width: 19em;
    background-color: rgb(52, 52, 52);
}

.darkmode * {
    pointer-events: none
}
.detailCountryInfo{
background-color: rgb(255, 255, 255);
width: 100%;
height: 91.5vh;
display: none;
flex-direction: column;
justify-content:center;
padding: 0em 1em;
color: rgb(0, 0, 0);
font-size: 0.9em;
}
.backBtn{
    display: flex;
    justify-content: center;
    width: 6em;
    background-color: whitesmoke;
    border-radius: 5px;
}
.backBtn div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.backBtn img{
    width: 1em;
    height: 1em;
}
.backBtn button{
    border: none;
    background-color:inherit;
    padding: 1em;
}
.flagAndText{
    margin-top: 4em;
    display: flex;
    justify-content: center;
}
.flagSolo img{
width: 50em;
height: 100%;
}
.textInfo{
    width: 100%;
    padding: 1em 2em;
}
.namePopUp{
    font-size: 2em;
}
.info{
    margin-top: 3em;
    width: 40em;
    display: flex;
    justify-content: space-around;
}
.info1 ul li{
margin-top: 1em;
}
.info2 ul li{
    margin-top: 1em;
    }
/* mobile*/
@media (max-width: 680px){
    .nav{
        height: 8em;
        font-size: 0.7em;
       
    }
    .divP{
        width: 100%;
    }
   
    .searchAndFilter{
        margin-top: 5em;
    padding: 1em 0em;
    justify-content: space-around;
    }
    .formSearch{
        height: 2.8em;
    }
    .formLupa{
        width: 12em;
    }
    .formLupa i {
        margin-left: 0px;
    }
    .formSearch input{
        height: 3.2em;
        width: 12em;
        margin-left: 5px;   
    }

    .filter select{
        padding: 1em 1.5em;
    }

.detailCountryInfo{
    margin-top: 0px;
    justify-content: flex-start;
}
   .backBtn{
       margin-top: 1em;
   }
       
        .flagAndText{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
           margin-top: 5px;
        }
        .flagSolo img{
        width: 100%;
        height: 100%;
        }
        .textInfo{
            width: 100%;
            padding: 1em 0em;
        }
       
        .info{
            margin-top: 0em;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        .info1 ul li{
        margin-top: 1em;
        }
        .info2 ul li{
            margin-top: 1em;
            }
}