*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 4em;
    background-color:white ;
    border-bottom: 2px solid rgb(219, 219, 219);
    box-shadow: 0px 0px 10px 10px rgb(221, 221, 221);
}
.nav div{
    padding: 10px 20px;
}
.divP{
    font-size: 1.7em;
    font-weight: bold;
}
.searchAndFilter{
    display: flex;
    justify-content: space-between;
    padding: 3em;
}
.formSearch{
    height: 5em;
}
.formLupa{
background-color: white;
border-radius: 5px;
width: 25em;
}
.formLupa i {
    margin-left: 5px;
}
.formSearch input{
    /*background-image: url(/Assets/lupa.png);
    background-size: contain;
    background-repeat: no-repeat;*/
    height: 3em;
    width: 23em;
    margin-left: 5px;
    padding: 0px;
    border: none;
    outline: none;
    
}

.filter select{
    border: none;
    padding: 1em 1.5em;
    border-radius: 5px;
}


.divDark button{
    display: flex;
    justify-content: space-between;
    width: 7em;
    padding: 0.3em;
    background-color: inherit;
    border: solid lightblue;
    border-radius: 5px;
}
.countryGridTotal{
    display: grid;
    grid-gap: 5em;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
padding: 0px 3em;
margin-top: 1em;
}
ul{
    list-style: none;
}
.Countrys{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 5px 0.5px rgba(64, 64, 64, 0.308);
    border-radius: 5px;
    width: 19em;
 
}
.imgContainer img{
    border-radius:5px 5px 0px 0px;
    width: 100%;
    max-height: 13em;
    object-fit: contain;
    overflow: hidden;
}
.textStuff{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10em;
    padding: 1em 2em;
    border-radius: 5px;
}

.name{
    font-size: x-large;
    font-weight: bolder;
}
.listDetail ul li{
margin-top: 5px;
display: flex;

}
.listDetail span{
    font-weight: bolder;
}
.darkmode{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    width: 19em;
    background-color: rgb(52, 52, 52);
}